<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | E-Shopper</title>
    <link href="~/Assets/client/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/client/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/client/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Assets/client/css/price-range.css" rel="stylesheet">
    <link href="~/Assets/client/css/animate.css" rel="stylesheet">
    <link href="~/Assets/client/css/main.css" rel="stylesheet">
    <link href="~/Assets/client/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/Assets/client/js/html5shiv.js"></script>
    <script src="~/Assets/client/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Assets/client/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Assets/client/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Assets/client/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Assets/client/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Assets/client/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body>
    <div class="container text-center">
        <div class="logo-404">
            <a href="index.html"><img src="~/Assets/client/images/home/logo.png" alt="" /></a>
        </div>
        <br>
        <div class="content-404">
            <img src="~/Assets/client/images/404/checkout.png" class="img-responsive" alt="" />

            <h2><a href="@Url.Action("Index", "_Home")">Bring me back Home</a></h2>
        </div>
    </div>


    <script src="~/Assets/client/js/jquery.js"></script>
    <script src="~/Assets/client/js/bootstrap.min.js"></script>
    <script src="~/Assets/client/js/jquery.scrollUp.min.js"></script>
    <script src="~/Assets/client/js/price-range.js"></script>
    <script src="~/Assets/client/js/jquery.prettyPhoto.js"></script>
    <script src="~/Assets/client/js/main.js"></script>
</body>
</html>